<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>FraudWatch</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-danger">
        <a class="navbar-brand" href="/">FraudWatch</a>

        <button class="navbar-toggler" type="button"
            data-toggle="collapse"
            data-target="#navbarNav">

            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse"
            id="navbarNav">

            <ul class="navbar-nav">

                <li class="nav-item">
                    <a class="nav-link text-white"
                        href="/">
                        Home
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-white"
                        href="#">
                        Golpes Digitais
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-white"
                        href="#">
                        Links Suspeitos
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-white"
                        href="#">
                        Quiz
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-white"
                        href="#">
                        Dicas de Segurança
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-white"
                        href="#">
                        Denúncias
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-white"
                        href="/admin/">
                        Administração
                    </a>
                </li>

            </ul>

        </div>

    </nav>

    <div class="container mt-5">

        <div class="jumbotron text-center">

            <h1 class="display-4">
                FraudWatch
            </h1>

            <p class="lead">
                Sistema de Prevenção e Conscientização sobre Golpes Digitais
            </p>

            <hr>

            <p>
                Aprenda a identificar golpes virtuais, phishing,
                links suspeitos, mensagens fraudulentas e técnicas
                de engenharia social.
            </p>

        </div>

    </div>

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

    <!-- Popper -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>